/common/target/
/bzip2/target/
/mpq-util/target/
/replay/target/
/examples/example-replay/target/
/apps/overwolf-app/nbproject/private/
/game-client-api/target/
/apps/toolkit-app/target/
/apps/toolkit-app/*.mp3
/apps/toolkit-app/sc2tk-app.log*
